.containers{
	padding: 20px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.icon-notification{
	padding-left: 22px;
	padding-top: 3px;
}
.icon-notifications{
	padding-left: 3px;
}
.icon-notificationd{
	padding-left: 30px;
}
.fload_right{
	float: right;
}
.float_left{
	float: left;
}
.font{
	 font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 
}
.top{
	padding-top: 120px;
}
body{
	font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 
	font-size: 14px;
}
a{
	color: black;
}
.center {
    margin: auto;
    width: 80%;
    padding-left: 120px;
}
.search{
	padding: 5px;
}
/*------------------------------------------------Navbar------------------------------------*/
.navbar-conteiner{
	padding-left: 60px;
	padding-right: 60px;
}
nav{
	background-color: #ffffff;
}
.navs{
	background-color: #ffffff;
}
.navbar{
	height: 100px;
}
.navbar-nav>li>a {
	top: 18px;
	font-size: 16px;
	color:black;
}
.navbar-brand{
	top: 18px;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #fbfbfb;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #ffffff;
    border-color: #ffffff;
}
.fa-icons{
	font-size: 20px;
	color: #000000;
	text-align: center;
}
.icon-fonts{
	font-size: 18px;
}
.dropdown-menus-user{
	top: 100px;
	width: 250px;
	margin-right: 16px;
}
.dropdown-menus-user-notification{
	top: 90px;
	width: 350px;
}
.notification{
	top:10px;
}
img.avatar {
    width: 50%;
    border-radius: 50%;
}
.user-headers{
	padding: 5px;
}
li > a > .label {
    position: absolute;
    top: 10px;
    right: 16px;
    text-align: center;
    font-size: 10px;
    padding: 2px 3px;
    line-height: .9;
    background-color: orange;
}
li > a > .badges {
    position: absolute;
    top: 10px;
    right: 40px;
    text-align: center;
    font-size: 10px;
    padding: 2px 3px;
    line-height: .9;
    background-color: orange;
}
.unique {
	position: absolute;
    top: -20px;
    right: 14px;
    text-align: right;
    font-size: 16px;
    padding: 2px 3px;
    line-height: .9;
    background-color: white;
    color: black;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 10px; 
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 300px;
}

.text-center{
	float: right;
}
/*--------------------------end navbar--------------------------------------*/

.card{
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
    color: #000000;
}
.panels{
	border-top-color: white;
	width: 100%;
}
.table{
	width: 100%;
}
.table-list {
    border: 1px solid #d3d3d3;
    margin-bottom: 0;
}
.table-list tr td {
    padding: 10px !important;
}
.table-list tr td:hover {
    cursor: pointer;
}
.table-dark-gray{
	background-color: #c8c8ac;
	text-align: center;
	font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 
	font-size: 16px;
}
.table-fent-gray{
	background-color: #c2c2a3;
	text-align: center;
	font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif;
	font-size: 16px;
}
p.table-idea {
	width:auto; 
    border: none;
    font-size: 17px;
    font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 
}
p.table-data{
	width: 100px; 
    border: 0px solid #ffffff;
    font-size: 17px;
    text-align: center;
    font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 
}
.table-data-button{
	width: 100px; 
    text-align: center;
}
.modal-title{
	 font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 
	 text-align: center;
	 color : #ffffff;
	 font-size: 24px;
}
.modal-header{
	 background-color: #269abc;
}
/*---------------------------my profile-------------------------------*/
/*  bhoechie tab */
div.bhoechie-tab-menu{
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 20%;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #000000;
    text-decoration: none;
    background-color: #269abc;;
}
.my-profile-font{
	font-size : 14px;
	font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 
}
.fa-profile-size{
	font-size: 30px;
}
.profile-all-details{
	padding-top: 10px;
}
.font-color{
	padding-top: 7px;
}
.time{
	padding-left: 70px;
}
/*--------------------------------------------------------------------------------------*/
.tab-font-grorgia{
	font-family: georgia;
	font-size: 19px; 
	text-align: center;
}
.tab-font-verti-grorgia{
	font-family: georgia;
	font-size: 16px; 
	text-align: center;
}
.font-heading{
	font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 
	font-size: 24px;
}
.font-containt{
	font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 
	font-size: 16px;
}
body{
	font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 
	font-size: 18px;
}
/*----------------------------------button------------------------------------------*/
